<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/bild2.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4">Willkommen zu Caring</h1>
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">

      <p>Hast du das Gefühl, dass es zu viele Autos gibt, die einfach nur rumstehen und keiner benutzt und dadurch viele
        Parkplätze belegen? Hast du selber kein Auto oder Führerschein? Willst du weniger CO² ausstoßen und dadurch das
        Klima verbessern? Oder Hast du Kinder oder Haustiere, aber kein Auto? Durch unser Matching Programm findest du
        ganz leicht Leute mit Autos die zu deinen Interessen passen.<br>
        Denn wir, von Caring, wollen das Klima verbessern, indem wir dir die Möglichkeit geben wollen, dein Auto mit
        anderen zu teilen.<br>
        Werde Teil der Caring-community, so hasst du immer...<br>
        - eine Mitfahrgelegenheit...<br>
        - Kontakt zu neuen menschen in deiner Umgebung...<br>
        - ein Auto, wenn du eins brauchst...<br>
        ... und tust etwas für deine Umwelt.</p>

    </div>

  </div>
  <!-- /.row -->
  <!-- Portfolio Section -->
  <h2>Vorteile von Caring</h2>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/bild4.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Tiere und Kinder</a>
          </h4>
          <p class="card-text">Durch unser Matching System können die Autobesitzer angeben ob Kinder oder Tiere
            mitfahren dürfen.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/bild3.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Weniger Stau</a>
          </h4>
          <p class="card-text">Wenn viele User sich ein Auto teilen gibt es weniger Stau in den Innenstädten.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/bild1.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Weniger Verkehr auf den Autobahnen</a>
          </h4>
          <p class="card-text">Wenn sich mehrere User ein Auto teilen, dann gibt es weniger Verkehr auf den Autobahnen.
            So, dass es für jeden angenehmer ist.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/bild5.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Reduzierung von CO<sub>2</sub></a>
          </h4>
          <p class="card-text">Umso mehr User diese Application benutzen, desto weniger CO<sub>2</sub> ist in der Atmosphäre. </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
