<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/bild6.png')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<main style="margin-bottom: 20px">
  <div class="container">
    <h1 class="my-4">Registrieren</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
          </div>
          <input name="username" type="text" class="form-control" [(ngModel)]="name">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">E-Mail</span>
          </div>
          <input name="email" type="text" class="form-control" [(ngModel)]="e_mail">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Alter</span>
          </div>
          <input name="age" type="text" class="form-control" [(ngModel)]="age">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Wohnort</span>
          </div>
          <input name="address" type="text" class="form-control" [(ngModel)]="address">
        </div>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Interessen</span>
          </div>
          <input name="interests" type="text" class="form-control" [(ngModel)]="interests">
        </div>
        <br>
        <button type="submit" class="btn btn-success" (click)="register()">Registrieren</button>
      </div>
    </div>
  </div>
</main>
